<h2>
  <%= @project.title %>
</h2>
<p class="description">
  <%= @project.description %>
  <%= link_to 'Tasks', @project %>
</p>
<h3>Notes</h3>
<ul class="notes" id="notes">
  <% @project.notes.each do |note| %>
    <%= render :partial => 'notes/note', :locals => {:note => note} %>
  <% end %>
</ul>
<hr/>
<%= render :partial => 'form' %>
