<h2>All Projects</h2>
<% @projects.each do |project| %><br>


  <h2>
    <%= link_to project.title, project %>
    <div class="counter">
      <%= "#{project.tasks.incomplete.count}" %>
    </div>
  </h2>
  <p class="description">
    <%= project.description %>
    <%= link_to 'Edit', edit_project_path(project) %>
  </p>
<% end %>
<hr/>
<br>
    <%= link_to 'New Project', new_project_path %>
